* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #121212;
    color: #e5e5e5;
}
.btn-orange {
    background: #4e4237;
    padding: 10px 25px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s ease;
    font-weight: 600;
}
.btn-orange:hover {
     background: #b95b09; 
}
.btn-border {
    padding: 10px 25px;
    color: #fff;
    border: 2px solid #cd6810;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s ease;
    font-weight: 600;
}
.btn-border:hover { 
    background: #ff7a00;
 }
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 8%;
    align-items: center;
    color: #fff;
}

.logo {
    font-size: 1.7rem;
    font-weight: 800;
    color: #ff7a00;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    color: #ddd;
    text-decoration: none;
    font-size: 0.95rem;
}

.nav-links a:hover {
    color: #fff;
}
.hero {
    text-align: center;
    padding: 120px 10%;
}

.hero h1 {
    font-size: 2.8rem;
    line-height: 1.3;
    margin-bottom: 15px;
    color: #fff;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 25px;
    color: #cfcfcf;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.game-showcase {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 70px 5%;
}

.game-card {
    position: relative;
    width: 320px;
    height: 420px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #212120;
    cursor: pointer;
    transition: 0.3s ease;
}

.game-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
}

.game-card h3 {
    position: absolute;
    bottom: 80px;
    left: 20px;
    font-size: 1.6rem;
}

.game-card p {
    position: absolute;
    bottom: 58px;
    left: 20px;
    font-size: 0.9rem;
    color: #ff7a00;
}

.card-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    background: #ff7a00;
    padding: 7px 16px;
    border-radius: 4px;
}

.game-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.6);
}
.about {
    padding: 100px 12%;
    text-align: center;
    line-height: 1.7;
}

.about h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.features {
    padding: 80px 10%;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.feature-box {
    background: #1c1c1c;
    padding: 25px;
    border-left: 4px solid #ff7a00;
    border-radius: 8px;
}

.feature-box h3 {
    color: #ff7a00;
    margin-bottom: 10px;
}
.gallery {
    padding: 80px 10%;
    text-align: center;
}

.gallery-grid {
    margin-top: 25px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.gallery-grid img {
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
    transition: 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.06);
}
.leaderboard {
     padding: 80px 10%; 
    }

.leaderboard-table {
    margin-top: 25px;
    border: 1px solid #ff7a00;
    border-radius: 8px;
    overflow: hidden;
}

.lb-row {
    display: grid;
    grid-template-columns: 50px 1fr 120px 120px;
    padding: 15px 20px;
    background: #1b1b1b;
    border-bottom: 1px solid #292929;
}

.lb-header {
    background: #ff7a00;
    font-weight: 700;
    color: #fff;
}

.lb-row:hover { 
    background: #262626; 
}
.clans {
     padding: 80px 10%; 
}

.clan-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.clan-card {
    background: #1c1c1c;
    padding: 25px;
    border-left: 4px solid #ff7a00;
    border-radius: 8px;
    transition: 0.3s;
}

.clan-card:hover {
     transform: translateY(-5px);
 }
.tournaments {
    padding: 90px 10%;
    text-align: center;
}

.tournament-grid {
    margin-top: 25px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.tournament-card {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 8px;
    border-top: 3px solid #ff7a00;
    transition: 0.3s;
}

.tournament-card:hover {
    transform: translateY(-8px);
}
.testimonials { padding: 90px 10%; }

.testi-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.testi-card {
    background: #1c1c1c;
    padding: 25px;
    border-radius: 8px;
    border-left: 4px solid #ff7a00;
    font-style: italic;
    transition: 0.3s;
}

.testi-card:hover {
    transform: translateY(-6px);
}
.cta-final {
    background: #ff7a00;
    color: #fff;
    text-align: center;
    padding: 90px 10%;
}

.cta-final h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}
footer {
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    background: #0f0f0f;
}
